<%- include("partials/header") %>
 <div class="container">
    <% for(let i=0 ; i < 4 ; i++) { %>
        <div class="jumbotron">
            <h3 class="header-company"> <%= company[i]  %> </h3>
            <h6> <%= title[i]  %> </h6>
            <p class= "job-location"> <%= location[i]  %> <span class="fromto"> <%= sdates[i]  %> - <%= edates[i]  %></span></p>
            <img src= <%= img[i]  %>> 
            <div class="container desc-items">
                <ul>
                    <% desc[i].forEach( async (el) => { %>
                        <li class="job-desc"> <%= el %></li>
                    <% }) %> 
                </ul>
            </div>
        </div>
    <% } %> 
</div> 
<%- include("partials/footer") %>