<%- include("partials/header") %>
 <div class="container">
    <% for(let i=0 ; i < 4 ; i++) { %>
        <div class="jumbotron">
            <h3> Company <%= i  %> </h3>
            <h6> Title<%= i  %> </h6>
            <p> Location <%= i  %> <span class="fromto"> <%= i  %> - <%= i  %></span></p>
        </div>
    <% } %> 
</div>  
<%- include("partials/footer") %>